:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 100px;
    background-color: #002448;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar h1 {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 5px;
}

.homepage-title {
    width: 100vw;
    height: 100px;
    background-color: #113151;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-welcome-msg {
    width: 100vw;
    height: 200px;
    background-color: #8ca3ba;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.homepage-welcome-msg span {
    border: 1px #b2bdc8 solid;
    box-shadow: var(--box-shadow);
    padding: 15px;
    letter-spacing: 2px;
}

.start-btn-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn,
.add-btn,
.delete-btn,
.home-btn,
.signin-btn,
.signup-btn,
.signout-btn {
    background-color: #002448;
    box-shadow: var(--box-shadow);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.add-btn,
.home-btn,
.signin-btn,
.signup-btn,
.signout-btn {
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    letter-spacing: 2px;
}
.signout-btn,
.home-btn {
    width: 285px;
}

.delete-btn {
    font-size: 14px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.start-btn:hover {
    background-color: #b2bdc8;
    color: #002448;
    transform: scale(1.1);
}

.add-btn:hover,
.delete-btn:hover,
.home-btn:hover,
.signin-btn:hover,
.signup-btn:hover,
.signout-btn:hover {
    background-color: #b2bdc8;
    color: #002448;
    transform: scale(1.01);
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    width: 290px;
}
h3.accounting-title {
    text-align: center;
}
h3.signin-title,
h3.signup-title {
    margin-bottom: 20px;
    width: 303px;
}

form {
    margin-top: 10px;
}

.form-field-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input,
select {
    border: 1px solid #dedede;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.transactions-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
}
.plus {
    color: #039d43;
    font-size: 22px;
    font-weight: 900;
}
.minus {
    color: #b73020;
    font-size: 22px;
    font-weight: 900;
}

.total-container {
    margin-top: 10px;
    margin-bottom: 50px;
}
.total-container p {
    font-size: 20px;
    text-align: end;
}
